.more {
    display: none;
}

.readmore {
	text-align: center;
}

.showLink, .hideLink {
	padding-top: 10px;
	width: 100%;
	background: #fff;
    text-decoration: none;
    color: #000;
    -webkit-transition: 0.5s ease-out;
    display: inline-block;
}