	*{
		margin:0;
		padding:0;
	}
	
	.yelowLine {
		width: 300px;
		height: 3px;
		background: #fec41b;
		margin:0 auto;
	}

	.head {
		padding-top: 25px;
		padding-bottom: 25px;
		margin:0 auto;
		width: 100%;
		text-align: center;
	}

	#name {
		letter-spacing: 10px;
		font-weight: 900;
		margin-bottom: 5px;
	}

	#title {
		font-size: 14px;
		color:#d8d8d8;
	}

	#about {
		margin:0 auto;
		width: 900px;
  		display: flex;
  		padding-bottom: 100px;
	}

	#menuLeft {
	  width: 65%;
	  padding-top: 50px;
	}

	#avatarRight {
	  width: 35%;
	}

	#location {
		padding-right: 10px; 
		text-align: center;
	}

	#text_style {
		padding-left: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right: 5px;
	}

	#h1 {
		font-size: 54px;
		font-weight: 900;
	}

	#h2 {
		font-size: 24px;
	}

	#h3 {
		font-size: 24px;
		font-weight: 900;
		text-align: center;
		margin: 0 auto;
		padding-bottom: 20px;
	}

	#imgs_style {
		width: 45px;
		height: 45px;
		padding-left: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right: 5px;
	}

	#about_me {
		background: #fec41b;
		text-align: center;
		margin:0 auto;
		padding-top: 100px;
		padding-bottom: 100px;
	}

	#skills {
		margin:0 auto;
		width: 900px;
  		display: flex;
  		padding-bottom: 100px;
	}

	#skillsLeft {
	  width: 50%;
	}

	#knowlegeRight {
	  padding-top: 30px;
	  width: 50%;
	  padding-left: 20px;
	}
	
	ul li {
		margin-left: 40px;
	}

	li {
		padding: 5px;
	}

	#list_title_style {
		font-weight: 900;
	}

	#my_skills {
		padding-top: 100px;
	}

	#portfolio {
		background: #ededed;
		padding-top: 100px;
	}

	#portfolioTables {
		margin:0 auto;
		text-align: center;
		width: 900px;
  		display: flex;
	}

	#portfolioLeft {
	  width: 35%;
	}

	#portfolioCenter {
	  width: 35%;
	}

	#portfolioRight {
	  width: 35%;
	}

	#portImages {
		width: 100%;
		height: 100%;
	}

	#my_contacts {
		width: 500px;
		margin:0 auto;
		padding-top: 100px;
		padding-bottom: 100px;
	}